/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

:root {
	--cnvs-themecolor: #ffca08;
	--cnvs-body-font: 'Montserrat Arabic', sans-serif;
    --cnvs-primary-font: 'Montserrat Arabic', sans-serif;
    --cnvs-secondary-font: 'Montserrat Arabic', sans-serif;
}